@import './assets/css/themes/theme.css';

.app {
  text-align: center;
  background-color: var(--color-dark-ocean-blue);
}

.appLogo {
  height: 200px;
  width: 200px;
  pointer-events: none;
  padding-bottom: 20px;
  fill: var(--color-deep-sea-green);
}

.appHeader {
  height: 80px;
}

.appContainer{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--color-text-light);
  min-height: 100vh;
}

.appLink {
  color: var(--color-lipstick);
  text-decoration: underline;
}

.textWatermark {
  font-size: 16px;
  color: var(--color-text)
}
