:root {
    --color-transparent: #00000000;
    --color-black: #000;
    /* Empty Soul Colors */
    --color-deep-sea-green: #2eb097;
    --color-dark-ocean-blue: #001c2a;
    --color-angel-white: #fefefe;
    --color-pitch-black: #121212;
    --color-obsidian: #0d0d1a;
    /* All-Theme Colors */
    --color-oceans-background: #14333c;
    --color-ocean-green: #073a4a;
    --color-ocean-ground: #0b2936;
    --color-ocean-pale-blue: #46798f;
    --color-ocean-dark-blue: #1e4e66;
    --color-ocean-forgotten-blue: #104450;
    /* Highlights */
    --color-heart-green: #57f2be;
    --color-uv: #7457ff;
    --color-citrus: #fdff6e;
    --color-sky: #4999ff;
    --color-lipstick: #ff497c;
    --color-carrot: #ff9049;
 
}